{% extends "crud/base.html" %}
<!-- サインアップ機能のテンプレート -->
{% block title %}ログイン{% endblock %}
{% block content %}
<div class="mx-auto crud-main">
    <div class="card crud-2fact">
        <header>ログイン</header>
        <section>
            <form
            action="{{ url_for('auth.login') }}"
            method="POST",
            novalidate="nonvalidate"
            >
            <!-- csrf_tokenの生成 -->
            {{ form.csrf_token }}

            {% for message in get_flashed_messages() %}
            <span class="crud-flash">{{ message }}</span>
            {% endfor %}

            <!-- メールアドレス入力フォーム -->
            {{ form.email(class="form-control crud-input", placeholder="メールアドレス") }}
            {% for error in form.email.errors %}
            <span class="crud-flash">{{ error }}</span>
            {% endfor %}  
            <!-- パスワード入力フォーム -->
            {{ form.password(class="form-control crud-input", placeholder="パスワード") }}
            {% for error in form.password.errors %}
            <span class="crud-flash">{{ error }}</span>
            {% endfor %}  
            <!-- ログインボタン -->
            {{ form.submit(class="btn btn-md brn-primary btn-block crud-btn") }}
            </form>
        </section>
    </div>
</div>
{% endblock %}
